#m1 {
  background-color: #AAC423;
}

#m2{
  background-color: #5492CD;
}

#m3{
  background-color: #DE3A31;
}

p {
  font-weight: bold;
  font-size: 225%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0c0b10;
  margin: 0;
}

label {
  width: 100%;
}

input {
  width: 85%;
  height: 5vh;
  margin-bottom: 15px;
}

.homeBtn {
  background-color: #0c0b10;
  height: 10vh;
  width: 85%;
  font-size: x-large;
  font-weight: bold;
  color: white;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 3%;
}

.medications {
  background-color: #AAC423;
  font-weight: bold;
  font-size: 225%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  width: 100%;
  height: 30vh;
  border: none;
}

.col-md-12 {
  padding: 0px;
}

.doctors {
background-color: #5492CD;
font-weight: bold;
font-size: 225%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
width: 100%;
height: 30vh;
border: none;
}

.appointments {
background-color: #DE3A31;
font-weight: bold;
font-size: 225%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
width: 100%;
height: 30vh;
border: none;
}

.logout {
	background-color: black;
	font-weight: bold;
	font-size: 225%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	width: 100%;
	height: 10vh;
	border: none;
	}

.text {
  padding-left: 10px;   
  text-align: center;
  border: black;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
 }
 
 .line {
  border-style: solid;
  border-width: 5px;
  border-bottom: #0c0b10;
 }

 .border {
  padding-top: 5px;
  margin-bottom: 10px;
  background-color: #ebebec;
  border: none;
  padding-bottom: 5px;
}
 
 .view {
   width: 20%;
   height: auto;
   text-align: center;
   border: none;
   background-color: #58595b;
   color: white;
   font-weight: bold;
   font-size: small;
   padding: 3px 3px;
   margin-bottom: 5px;
   margin-top: 5px;

 }

.delete {
  width: 20%;
  height: auto;
  text-align: center;
  background-color:#F8B71E;
  border: none;
  color: #0c0b10;
  font-weight: bold;
  font-size: small;
  padding: 3px 3px;
  margin-bottom: 5px;
  margin-top: 5px;

}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #0c0b10;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.searchBtn {
  margin-top: 10px;
  background-color: darkgray;
  height: 10vh;
  width: 85%;
  font-size: x-large;
  font-weight: bold;
  color: white;
  position: relative;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchMedName {
  background-color: #AAC423;
  font-weight: bold;
  margin-bottom: .3rem;
  width: 75%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.docHome {
  background-color: darkgrey;
  height: 10vh;
  font-weight: bold;
  color: white;
  position: relative;
  border: none;
  font-size: x-large;
  width: 85%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-control {
  width: 100%;
  height: 20%;
}

.btn-doc {
  background-color: #5492CD;
  font-weight: bold;
  margin-bottom: .3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-appt {
  background-color: #DE3A31;
  font-weight: bold;
  margin-bottom: .3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.btn-med {
  background-color: #AAC423;
  font-weight: bold;
  margin-bottom: .3rem;
  /* width: 5%; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.return {
  background-color: darkgrey;
  height: 10vh;
  width: 85%;
  font-size: x-large;
  font-weight: bold;
  color: white;
  position: relative;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.apptHome {
  background-color: darkgrey;
  height: 10vh;
  width: 85%;
  font-size: x-large;
  font-weight: bold;
  color: white;
  position: relative;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addMedBtn {
  background-color: #AAC423;
  color: white;
  height: 10vh;
  width: 85%;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addDocBtn {
  background-color:#5492CD;
  color: white;
  height: 10vh;
  width: 85%;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addApptBtn {
  background-color: #DE3A31;
  color: white;
  height: 10vh;
  width: 85%;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.clicktosignup {
	font-size: 20px;
}

form {
  margin: 15px 15px;
}


